.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 15rem;

  background-image: url(../../assets/images/bg-23.jpeg);
  background-position: center;
  background-size: cover ;

  &__tilte{
    color: lightgreen;
    font-weight: bold;
  }
}